<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
    <link rel="stylesheet" href="style.css"></link>
    
</head>
<body>
    
    <form class="form">
        <h2>LAPTOP users or NOT </h2>
        <p type="Age:"><input placeholder="Write agent's  age here.." name ='age' required="required"></input></p>
        <p type="Gender:"><input placeholder="Write agent's gender here.." name ='gender' required="required"></input></p>
        <p type="Region:"><input placeholder="Write agent's  region.." name ='region' required="required"></input></p>
        <p type="Occupation:"><input placeholder="Write agent's Occupation.." name ='occupation' required="required"></input></p>
        <p type="Income:"><input placeholder="Amont of agent's Income.." name ='income' required="required"></input></p>




       
        <div>
          <span class="fa fa-prediction"></span>Prediction: 
          <span class="fa fa-prediction-o"></span> yes
        </div>
        <button>Predict</button>
      </form>

</body>
</html>